<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
        <nav th:replace="fragments/navHeader :: navbar"></nav>

        <div class="container">
            <h2 class="title is-2 has-text-centered">Customer List&nbsp;<span th:text="${findNameMessage}"></span></h2>

            <div class="table-container">

                <a th:href="@{/customers/add}" th:text="Add" class="button"></a>
                <!--    add some code to show the bookings which are in the model-->

                
                <table class="table centered is-striped">
                    <thead>
                        <tr>
                            <th style="width: 150px;">id</th>
                            <th style="width: 150px;">Customer Type</th>
                            <th style="width: 150px;">Full Name</th>
                            <th style="width: 150px;">Address 1</th>
                            <th style="width: 150px;">City</th>
                            <th style="width: 150px;">Province</th>
                            <th style="width: 150px;">Postal Code</th>
                            <th style="width: 150px;">Phone number</th>
                            <th style="width: 150px;">Birth date</th>
                            <th style="width: 150px;">Loyalty card</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.id}"></td>
                            
                            <td th:text="${customer.customerTypeDescription}"></td>
                            
                            <td th:text="${customer.fullName}"></td>
                            <td th:text="${customer.address1}"></td>
                            <td th:text="${customer.city}"></td>
                            <td th:text="${customer.province}"></td>
                            <td th:text="${customer.postalCode}"></td>
                            <td th:text="${customer.phoneNumber}"></td>
                            <td th:text="${customer.birthDate}"></td>
                            <td th:text="${customer.loyaltyCard}"></td>

                            <td><a th:href="@{/customers/edit(id=${customer.id})}">Edit</a>&nbsp;<a
                                    th:href="@{/customers/delete(id=${customer.id})}">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>






        </div>




        <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>