<!DOCTYPE html><html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
   <head th:include="fragments/head :: headerFragment">
        <title></title>
    </head>
    <body>
    <nav th:replace="fragments/navHeader :: navbar"></nav>
    <div class="container">
<!--            <form th:object="${order}" action="/orders/findSubmit" th:action="@{/orders/findSubmit}" method="post" class="form-horizontal">-->
            <form action="/orders/findSubmit" th:action="@{/orders/findSubmit}" method="post" class="form-horizontal">
                <fieldset>
                    <p th:text="${message}">message here</p>

                        <div class="field">
                            <label class="label" for="startDate">Start Date:</label>                    
                            <input type="date" name="startDate" id="startDate" placeholder="YYYY-MM-DD">
                        </div>
                        <div class="field">
                            <label class="label" for="endDate">End Date:</label>                    
                            <input type="date" name="endDate" id="endDate" placeholder="YYYY-MM-DD">
                        </div>

                    <div style="text-align: left;" class="form-actions">
                        <button class="button" type="submit">Find</button>
                        
                    </div>
                </fieldset>
            </form>
        </div>
    
      <footer th:replace="fragments/footer :: footer"></footer>
    </body>
</html>