<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <body>
    <nav th:fragment="navbar" class="navbar nav" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a th:href="@{/}" class="vert-align">
                <img src="/images/dancingFlower.gif" class="logo"></span>
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" id="burg"
               onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');"
               data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end">

                <!--Orders Dropdown List-->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/orders/list}" href="/orders/list" class=" navbar-link">Orders</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/orders/list}" class="navbar-item">Orders</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/orders/find}" class="navbar-item">Find</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/orders/export}" class="navbar-item">Export</a>
                            
                    </div>
                </div>
                
                <!--Orders Dropdown List-->
                <div class="navbar-item has-dropdown is-hoverable">
                    <a th:href="@{/customers/list}" href="/customers/list" class=" navbar-link">Customers</a>
                    <div class="navbar-dropdown">
                        <a th:href="@{/customers/list}" class="navbar-item">Customers</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/customers/find}" class="navbar-item">Find</a>
                        <hr class="navbar-divider">
                        <a th:href="@{/customers/export}" class="navbar-item">Export</a>
                        <hr class="navbar-divider">
                    </div>
                </div>

                <!--About section link-->
                <div class="navbar-end">
                    <a th:href="@{/about}" class="navbar-item">
                        About
                    </a>
                </div>
            </div>
        </div>
    </nav>
    </body>
</html>